@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 style="text-align:center">Piłkarzyki</h1>
    <p class="lead">Witaj, w programie do statystyk piłkarskich.</p>
</div>

<div class="text-center" style="text-align:center">
    <h1>Statystyki zawodnika</h1>
    <div class="namesurname" style="text-align:center">
        <h2>Logowanie</h2>
        <form asp-page-handler="view" method="post">
            <h5>Login</h5>
            <input type="text" name="log" /><br />
            <h5>Hasło</h5>
            <input type="password" name="passwd" /><br />
            <input type="submit" class="myButtonn"/>
        </form>

        
    </div>
    <div class="namesurname">
        <form method="post">
            <h2>Rejestracja</h2>
            <h5>Imię i nazwisko</h5>
            <input type="number" name="fullname" /><br />
            <h5>Login</h5>
            <input type="text" name="login" /><br />
            <h5>Hasło</h5>
            <input type="password" name="passwd"/><br />
            <input type="submit" class="myButtonn"></input>
        </form>
    </div>
</div>