@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="namesurname">
    Aplikacja autorstwa Kamila Spławińskiego, wykonana w ramach projektu z Programowanie aplikacji z interfejsem graficznym.
    <br />
    Celem aplikacji jest zwizualizowanie danych piłakrzy oraz klubów piłkarskich z całej Europy.
    <br/>
    Aplkacja będzie wykorzystywała serwer API FOOTBALL. Jest wykonana w ASP.NET Core w języku C#. GUI wykonane dzięki szablonowi RAZOR wykorzystujący HTML oraz format JSON.
    <br/>
    Aplikacja wykonuje następujące obliczenia:
    <ul>
        <li>sumowanie wartości zawodników</li>
        <li>obliczanie średniej wartości zawodnika</li>
        <li>towrzenie wykresów liniowych i kołowych</li>
        <li>przeliczanie wartości składu w poszczególnych walutach</li>
    </ul>
</div>

