@page
@model aplikacja_towam.Pages.StatsModel
@{
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="namesurname" style="text-align:center ">
    <h1>Dziennik Aktywności </h1>
</div>

<div class="namesurname" style="text-align:center">
    <h3>Test coopera</h3>
    <form asp-page-handler="cooper" method="post">
        <h3 id="as"> Dystans (km)</h3>
        <input type="number" name="dystanscooper" style="margin-top:5px;margin-bottom:8px" /><br />
        <input type="submit" class="myButtonn" value="wgraj dane" /><br />
    </form>


    <div id="dashboard_div_cooper">
        <div id="line_chart1_cooper"></div>
        <div id="line_chart2_cooper"></div>
        <div id="control_div_cooper"></div>
    </div>

@*
    <script>

        var chart_test_data = [
            ["2022-8", 1094, 2094],
            ["2022-9", 86251, 36251],
            ["2022-10", 76579, 66579],
            ["2022-11", 75670, 35670],
            ["2022-12", 68921, 18921],
            ["2022-13", 60597, 50597],
            ["2022-14", 65470, 45470],
            ["2022-15", 65873, 35873],
            ["2022-16", 71606, 41606],
            ["2022-17", 83908, 23908],
            ["2022-18", 68889, 58889],
            ["2022-19", 72622, 42622],
            ["2022-20", 66980, 36980],
            ["2022-21", 60075, 20075],
            ["2022-22", 73745, 63745]
        ];

        function drawDashboard() {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Maksymalne wartości');
            data.addColumn('number', 'Średnie wartości');

            for (var i = 0; i < chart_test_data.length; i++) {
                var tmpArray = chart_test_data[i][0].split("-");

                var date = new Date(parseInt(tmpArray[0]), 0, parseInt(tmpArray[1]));
                data.addRow([date, parseInt(chart_test_data[i][1]), parseInt(chart_test_data[i][2])]);
            }

            var myDashboard = new google.visualization.Dashboard(document.getElementById('dashboard_div_cooper'));

            var myDateSlider = new google.visualization.ControlWrapper({
                'controlType': 'ChartRangeFilter',
                'containerId': 'control_div_cooper',
                'options': {

                    'filterColumnLabel': 'Date',
                    'ui': {
                        'chartOptions': {
                            'height': 60,
                        },
                    }
                },
            });

            var lineChart1 = new google.visualization.ChartWrapper({
                chartType: 'LineChart',
                containerId: 'line_chart1_cooper',
                options: {

                },
                view: {
                    columns: [0, 1] 
                }
            });

            var lineChart2 = new google.visualization.ChartWrapper({
                chartType: 'LineChart',
                containerId: 'line_chart2_cooper',
                options: {

                },
                view: {
                    columns: [0, 2] 
                }
            });

            myDashboard.bind(myDateSlider, [lineChart1, lineChart2]).draw(data);
        }
        google.load('visualization', '1', { packages: ['controls'], callback: drawDashboard });
    </script>*@
</div>

<div class="namesurname" style="text-align:center">
    <h3>Strzały</h3>
    <form asp-page-handler="cooper" method="post">
        <h3 id="as"> Skuteczność [%]</h3>
        <input type="number" name="dystanscooper" style="margin-top:5px;margin-bottom:8px" /><br />
        <input type="submit" class="myButtonn" value="wgraj dane" /><br />
    </form>


    <div id="dashboard_div_cooper">
        <div id="line_chart1_cooper"></div>
        <div id="line_chart2_cooper"></div>
        <div id="control_div_cooper"></div>
    </div>

@*
    <script>

        var chart_test_data = [
            ["2022-8", 1094, 2094],
            ["2022-9", 86251, 36251],
            ["2022-10", 76579, 66579],
            ["2022-11", 75670, 35670],
            ["2022-12", 68921, 18921],
            ["2022-13", 60597, 50597],
            ["2022-14", 65470, 45470],
            ["2022-15", 65873, 35873],
            ["2022-16", 71606, 41606],
            ["2022-17", 83908, 23908],
            ["2022-18", 68889, 58889],
            ["2022-19", 72622, 42622],
            ["2022-20", 66980, 36980],
            ["2022-21", 60075, 20075],
            ["2022-22", 73745, 63745]
        ];

        function drawDashboard() {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Maksymalne wartości');
            data.addColumn('number', 'Średnie wartości');

            for (var i = 0; i < chart_test_data.length; i++) {
                var tmpArray = chart_test_data[i][0].split("-");

                var date = new Date(parseInt(tmpArray[0]), 0, parseInt(tmpArray[1]));
                data.addRow([date, parseInt(chart_test_data[i][1]), parseInt(chart_test_data[i][2])]);
            }

            var myDashboard = new google.visualization.Dashboard(document.getElementById('dashboard_div_cooper'));

            var myDateSlider = new google.visualization.ControlWrapper({
                'controlType': 'ChartRangeFilter',
                'containerId': 'control_div_cooper',
                'options': {

                    'filterColumnLabel': 'Date',
                    'ui': {
                        'chartOptions': {
                            'height': 60,
                        },
                    }
                },
            });

            var lineChart1 = new google.visualization.ChartWrapper({
                chartType: 'LineChart',
                containerId: 'line_chart1_cooper',
                options: {

                },
                view: {
                    columns: [0, 1]
                }
            });

            var lineChart2 = new google.visualization.ChartWrapper({
                chartType: 'LineChart',
                containerId: 'line_chart2_cooper',
                options: {

                },
                view: {
                    columns: [0, 2]
                }
            });

            myDashboard.bind(myDateSlider, [lineChart1, lineChart2]).draw(data);
        }
        google.load('visualization', '1', { packages: ['controls'], callback: drawDashboard });
    </script>*@
</div>

<div class="namesurname" style="text-align:center">
    <h3>Podania</h3>
    <form asp-page-handler="podania" method="post">
        <h3 id="as"> Skuteczność [%]</h3>
        <input type="number" name="dystanscooper" style="margin-top:5px;margin-bottom:8px" /><br />
        <input type="submit" class="myButtonn" value="wgraj dane" /><br />
    </form>


    <div id="dashboard_div_cooper">
        <div id="line_chart1_cooper"></div>
        <div id="line_chart2_cooper"></div>
        <div id="control_div_cooper"></div>
    </div>


    <script>

        var chart_test_data = [
            ["2022-8", 1094, 2094],
            ["2022-9", 86251, 36251],
            ["2022-10", 76579, 66579],
            ["2022-11", 75670, 35670],
            ["2022-12", 68921, 18921],
            ["2022-13", 60597, 50597],
            ["2022-14", 65470, 45470],
            ["2022-15", 65873, 35873],
            ["2022-16", 71606, 41606],
            ["2022-17", 83908, 23908],
            ["2022-18", 68889, 58889],
            ["2022-19", 72622, 42622],
            ["2022-20", 66980, 36980],
            ["2022-21", 60075, 20075],
            ["2022-22", 73745, 63745]
        ];

        function drawDashboard() {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Maksymalne wartości');
            data.addColumn('number', 'Średnie wartości');

            for (var i = 0; i < chart_test_data.length; i++) {
                var tmpArray = chart_test_data[i][0].split("-");

                var date = new Date(parseInt(tmpArray[0]), 0, parseInt(tmpArray[1]));
                data.addRow([date, parseInt(chart_test_data[i][1]), parseInt(chart_test_data[i][2])]);
            }

            var myDashboard = new google.visualization.Dashboard(document.getElementById('dashboard_div_cooper'));

            var myDateSlider = new google.visualization.ControlWrapper({
                'controlType': 'ChartRangeFilter',
                'containerId': 'control_div_cooper',
                'options': {

                    'filterColumnLabel': 'Date',
                    'ui': {
                        'chartOptions': {
                            'height': 60,
                        },
                    }
                },
            });

            var lineChart1 = new google.visualization.ChartWrapper({
                chartType: 'LineChart',
                containerId: 'line_chart1_cooper',
                options: {

                },
                view: {
                    columns: [0, 1]
                }
            });

            var lineChart2 = new google.visualization.ChartWrapper({
                chartType: 'LineChart',
                containerId: 'line_chart2_cooper',
                options: {

                },
                view: {
                    columns: [0, 2]
                }
            });

            myDashboard.bind(myDateSlider, [lineChart1, lineChart2]).draw(data);
        }
        google.load('visualization', '1', { packages: ['controls'], callback: drawDashboard });
    </script>
</div>

<div class="namesurname" style="text-align:center">
    <h3>Test coopera</h3>
    <form asp-page-handler="cooper" method="post">
        <h3 id="as"> Dystans (km)</h3>
        <input type="number" name="dystanscooper" style="margin-top:5px;margin-bottom:8px" /><br />
        <input type="submit" class="myButtonn" value="wgraj dane" /><br />
    </form>


    <div id="dashboard_div_cooper">
        <div id="line_chart1_cooper"></div>
        <div id="line_chart2_cooper"></div>
        <div id="control_div_cooper"></div>
    </div>


    <script>

        var chart_test_data = [
            ["2022-8", 1094, 2094],
            ["2022-9", 86251, 36251],
            ["2022-10", 76579, 66579],
            ["2022-11", 75670, 35670],
            ["2022-12", 68921, 18921],
            ["2022-13", 60597, 50597],
            ["2022-14", 65470, 45470],
            ["2022-15", 65873, 35873],
            ["2022-16", 71606, 41606],
            ["2022-17", 83908, 23908],
            ["2022-18", 68889, 58889],
            ["2022-19", 72622, 42622],
            ["2022-20", 66980, 36980],
            ["2022-21", 60075, 20075],
            ["2022-22", 73745, 63745]
        ];

        function drawDashboard() {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Maksymalne wartości');
            data.addColumn('number', 'Średnie wartości');

            for (var i = 0; i < chart_test_data.length; i++) {
                var tmpArray = chart_test_data[i][0].split("-");

                var date = new Date(parseInt(tmpArray[0]), 0, parseInt(tmpArray[1]));
                data.addRow([date, parseInt(chart_test_data[i][1]), parseInt(chart_test_data[i][2])]);
            }

            var myDashboard = new google.visualization.Dashboard(document.getElementById('dashboard_div_cooper'));

            var myDateSlider = new google.visualization.ControlWrapper({
                'controlType': 'ChartRangeFilter',
                'containerId': 'control_div_cooper',
                'options': {

                    'filterColumnLabel': 'Date',
                    'ui': {
                        'chartOptions': {
                            'height': 60,
                        },
                    }
                },
            });

            var lineChart1 = new google.visualization.ChartWrapper({
                chartType: 'LineChart',
                containerId: 'line_chart1_cooper',
                options: {

                },
                view: {
                    columns: [0, 1]
                }
            });

            var lineChart2 = new google.visualization.ChartWrapper({
                chartType: 'LineChart',
                containerId: 'line_chart2_cooper',
                options: {

                },
                view: {
                    columns: [0, 2]
                }
            });

            myDashboard.bind(myDateSlider, [lineChart1, lineChart2]).draw(data);
        }
        google.load('visualization', '1', { packages: ['controls'], callback: drawDashboard });
    </script>
</div>

<div class="namesurname" style="text-align:center">
    <h3>Puls</h3>
    <form asp-page-handler="cooper" method="post">
        <h3 id="as"> Wartość</h3>
        <input type="number" name="dystanscooper" style="margin-top:5px;margin-bottom:8px" /><br />
        <input type="submit" class="myButtonn" value="wgraj dane" /><br />
    </form>


    <div id="dashboard_div_cooper">
        <div id="line_chart1_cooper"></div>
        <div id="line_chart2_cooper"></div>
        <div id="control_div_cooper"></div>
    </div>


    <script>

        var chart_test_data = [
            ["2022-8", 1094, 2094],
            ["2022-9", 86251, 36251],
            ["2022-10", 76579, 66579],
            ["2022-11", 75670, 35670],
            ["2022-12", 68921, 18921],
            ["2022-13", 60597, 50597],
            ["2022-14", 65470, 45470],
            ["2022-15", 65873, 35873],
            ["2022-16", 71606, 41606],
            ["2022-17", 83908, 23908],
            ["2022-18", 68889, 58889],
            ["2022-19", 72622, 42622],
            ["2022-20", 66980, 36980],
            ["2022-21", 60075, 20075],
            ["2022-22", 73745, 63745]
        ];

        function drawDashboard() {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Maksymalne wartości');
            data.addColumn('number', 'Średnie wartości');

            for (var i = 0; i < chart_test_data.length; i++) {
                var tmpArray = chart_test_data[i][0].split("-");

                var date = new Date(parseInt(tmpArray[0]), 0, parseInt(tmpArray[1]));
                data.addRow([date, parseInt(chart_test_data[i][1]), parseInt(chart_test_data[i][2])]);
            }

            var myDashboard = new google.visualization.Dashboard(document.getElementById('dashboard_div_cooper'));

            var myDateSlider = new google.visualization.ControlWrapper({
                'controlType': 'ChartRangeFilter',
                'containerId': 'control_div_cooper',
                'options': {

                    'filterColumnLabel': 'Date',
                    'ui': {
                        'chartOptions': {
                            'height': 60,
                        },
                    }
                },
            });

            var lineChart1 = new google.visualization.ChartWrapper({
                chartType: 'LineChart',
                containerId: 'line_chart1_cooper',
                options: {

                },
                view: {
                    columns: [0, 1]
                }
            });

            var lineChart2 = new google.visualization.ChartWrapper({
                chartType: 'LineChart',
                containerId: 'line_chart2_cooper',
                options: {

                },
                view: {
                    columns: [0, 2]
                }
            });

            myDashboard.bind(myDateSlider, [lineChart1, lineChart2]).draw(data);
        }
        google.load('visualization', '1', { packages: ['controls'], callback: drawDashboard });
    </script>
</div>
