@page
@model aplikacja_towam.Pages.wgraneModel
@{
}

<h1> Wartości zostały zapisane</h1>
<div class="namesurname">
    <form asp-page-handler="view" method="post">
        <input type="submit" name="myButtonn" value="Kliknij, aby wrócić do strony" />
    </form>
</div>